<section class="breadcrumb-area margin-bottom-100px none-print">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-content">
          <div class="section-heading">
            <h2 class="section__title">Voucher</h2>
          </div>
          <p>Compra tus cursos 100% seguro</p>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  .color_bold{
    color: #233d63;
  }
</style>
<section class="cart-area padding-bottom-60px">
  <div id="parentdiv" class="container">

    <div >
        <div class="row">

          <div class="col-md-6">
            <img src="https://ed.team/static/images/logo/logo.svg" alt="" style="width: 300px">
            <br>
          </div>
          <div class="col-md-6 text-right">

            <h1 class="widget-title">Voucher</h1>
            <div>N°. recibo: <strong class="color_bold">ABC-123</strong></div>
            <div>Dirección: <strong class="color_bold">Lima - Perú</strong></div>
            <div>Teléfono: <strong class="color_bold">(01) 123-4567</strong></div>

          </div>
        </div>

        <div class="cart-detail-wrap mt-4">
          <div class="row">

            <div class="col-lg-6">
              <div class="shopping-cart-detail-item">
                <h3 class="widget-title font-size-20">Datos personales</h3>
                <div class="shopping-cart-content pt-2">

                  <ul class="list-items">
                    <li class="d-flex align-items-center justify-content-between font-weight-semi-bold">
                      <span class="primary-color">Nombre:</span>
                      <span class="primary-color-3">Taylor Swift</span>
                    </li>
                    <li class="d-flex align-items-center justify-content-between font-weight-semi-bold">
                      <span class="primary-color">DNI:</span>
                      <span class="primary-color-3">12345678</span>
                    </li>
                    <li class="d-flex align-items-center justify-content-between font-weight-semi-bold">
                      <span class="primary-color">Número de móvil:</span>
                      <span class="primary-color-3">987654321</span>
                    </li>
                    <li class="d-flex align-items-center justify-content-between font-weight-semi-bold">
                      <span class="primary-color">Correo electrónico:</span>
                      <span class="primary-color-3">taylor@gmail.com</span>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-lg-6 ml-auto">
              <div class="shopping-cart-detail-item">
                <h3 class="widget-title font-size-20">Datos de la transacción</h3>
                <div class="shopping-cart-content pt-2">
                  <ul class="list-items">
                    <li class="d-flex align-items-center justify-content-between font-weight-semi-bold">
                      <span class="primary-color">Número de pedido:</span>
                      <span class="primary-color-3">12345678</span>
                    </li>
                    <li class="d-flex align-items-center justify-content-between font-weight-semi-bold">
                      <span class="primary-color">N° de tarjeta enmascarada:</span>
                      <span class="primary-color-3">123**********45</span>
                    </li>
                    <li class="d-flex align-items-center justify-content-between font-weight-semi-bold">
                      <span class="primary-color">Moneda:</span>
                      <span class="primary-color-3">PEN</span>
                    </li>
                    <li class="d-flex align-items-center justify-content-between font-weight-semi-bold">
                      <span class="primary-color">Fecha:</span>
                      <span class="primary-color-3">15/06/2021</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="shopping-cart-wrap table-responsive">
              <table class="table table-bordered ">
                <thead class="cart-head">
                <tr>
                  <td class="cart__title" style="width: 150px">Imagen</td>
                  <td class="cart__title">Curso</td>
                  <td class="cart__title" style="width: 150px">Precio</td>
                </tr>
                </thead>
                <tbody class="cart-body">
                <tr>
                  <td><a [routerLink]="['/catalogo/cursos/detalle/1']" class="d-block"><img src="../../../../../../assets/images/img6.jpg" alt="product image"></a></td>
                  <td>
                    <div class="cart-product-desc">
                      <a [routerLink]="['/catalogo/cursos/detalle/1']" class="widget-title">curso</a>
                      <a href="javascript:void(0);" class="widget-title">lunes</a>
                      <a href="javascript:void(0);" class="widget-title">de 04:00 pm a 05:00 pm</a>
                    </div>
                  </td>
                  <td>
                    <span class="item__price">S/ 50.00</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="text-right">Total:</td>
                  <td>S/ 50.00</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
    </div>

  </div>
</section>
