<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-content">
          <div class="section-heading">
            <h2 class="section__title">Noticias</h2>
          </div>
          <p>Conozca nuestras actividades del dia a dia</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog-details section-padding">
  <div class="container">
    <div class="blog-details-wrap">
      <div class="row">
        <div class="col-lg-8">
          <div class="card-item blog-card">
            <div class="card-image">
              <a href="javascrpt:void(0);" class="card__img"><img src="../../assets/images/img32.jpg" alt=""></a>
              <div class="card-badge">
                <span class="badge-label">10 de Dic del 2020</span>
              </div>
            </div><!-- end card-image -->
            <div class="card-content">
              <h3 class="card__title mt-0">6 Ways to Instantly Improve your Ui Design.</h3>

              <div class="card-body">
                <p>Investig ationes demons trave runt lectores legere liusry quod ii legunt saepius claritas Investig ationes. Pharetra dui, nec tincidunt ante mauris eu diam. Phasellus viverra nisl vitae cursus aei uismod suspendisse saepius claritas investig. Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnag aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborinu aliquip ex ea commodo consequat. Du aute irure dolor in reprehenderit inlore voluptate velit esse cillum dolore. Cras eget sollicitudin lorem.</p>
                <p>Cras eget sollicitudin lorem. Etiam commodo ultricies luctus. Integer porttitor ligula eget quam blandit finibus. Suspendisse potenti. Nulla blandit augue orci, eget tristique massa fermentum sed. Duis ac maximus nulla, et pharetra turpis.</p>
                <h3 class="widget-title pb-3">Content</h3>
                <div class="row pb-3">
                  <div class="col-lg-6">
                    <ul class="list-items">
                      <li>Etiam commodo ultricies luctus.</li>
                      <li>Anim pariatur cliche reprehenderit.</li>
                      <li>Consectetur adipisicing elit.</li>
                      <li>Investig ationes demons trave.</li>
                      <li>Integer porttitor ligula eget.</li>
                      <li>Nulla blandit augue orci.</li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-body-img">
                      <img src="../../assets/images/img1.jpg" alt="blog-img">
                    </div>
                  </div>
                </div>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores</p>
                <div class="section-block"></div>
                <div class="tags-item tag-widget padding-top-30px d-flex align-items-center justify-content-between">
                  <ul class="social-profile">
                    <li><span>Share:</span></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar-widget">
              <h3 class="widget-title">Campo de búsqueda</h3>
              <span class="section-divider"></span>
              <div class="contact-form-action">
                <form method="post">
                  <div class="form-group">
                    <input class="form-control" type="search" name="search" placeholder="Buscar noticia">
                    <button type="button" class="search-icon"><span class="la la-search"></span></button>
                  </div>
                </form>
              </div>
            </div>
            <div class="sidebar-widget recent-widget">
              <h3 class="widget-title">Últimas publicaciones</h3>
              <span class="section-divider"></span>
              <div class="recent-item" *ngFor="let item of [].constructor(6); let i = index">
                <div class="recent-img">
                  <a href="blog-single.html">
                    <img src="../../assets/images/img19.jpg" alt="blog image">
                  </a>
                </div><!-- end recent-img -->
                <div class="recentpost-body">
                  <span class="recent__meta">10 de Dic del 2020</span>
                  <h4 class="recent__link">
                    <a href="blog-single.html">Become a PHP Master and Make Money</a>
                  </h4>
                </div><!-- end recent-img -->
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
